{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <p>
         {% blocktrans %}This is a sample application showing usage of django-datatables-view with:{% endblocktrans %}
    </p>
    <a href="{% url 'datatables_19' %}">{% trans "Datatables 1.9.x version (backward compatibility)- User model" %}</a>
    <br />
    <a href="{% url 'datatables_110' %}">{% trans "Datatables 1.10.x version - User model" %}</a>
    <br />
    <a href="{% url 'testmodel' %}">{% trans "Datatables 1.10.x version - TestModel model" %}</a>
{% endblock %}